<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--Mick pc database-->
		<add name ="ConnectMsSqlString" connectionString="Data Source=DESKTOP-85M7CGS\MSSQLSERVER01;Initial Catalog=MAPMA;Integrated Security=True"/>
    <!-- AB pc database-->
    <!--<add name ="ConnectMsSqlString" connectionString="Data Source=AB-PC;Initial Catalog=MAPMA;Integrated Security=True"/>-->
    <!--AB LapTop Database-->
    <!--<add name ="ConnectMsSqlString" connectionString="Data Source=LAPTOP-R5PHBV71\SQLEXPRESS;Initial Catalog=MAPMA;Integrated Security=True"/>-->
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="ProductService.BookingServices">
				<endpoint address="" binding="basicHttpBinding" contract="ProductService.IBookingServices">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ProductService/Service1/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>