<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--Brygger LapTop Database-->
    <!--<add name ="ConnectMsSqlString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=MAPMA;Integrated Security=True"/>-->
    <!--Mick pc database-->
    <!--<add name ="ConnectMsSqlString" connectionString="Data Source=DESKTOP-85M7CGS\MSSQLSERVER01;Initial Catalog=MAPMA;Integrated Security=True"/>-->
    <!-- AB pc database-->
    <!--add name ="ConnectMsSqlString" connectionString="Data Source=AB-PC;Initial Catalog=MAPMA;Integrated Security=True"/-->
    <!--AB LapTop Database-->
    <!--<add name ="ConnectMsSqlString" connectionString="Data Source=LAPTOP-R5PHBV71\SQLEXPRESS;Initial Catalog=MAPMA;Integrated Security=True"/>-->
  <!--Ranzau LapTop Database-->
    <add name ="ConnectMsSqlString" connectionString="Data Source=MGR\SQLEXPRESS;Initial Catalog=MAPMA;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="ProductService.BookingServices">
        <!--<endpoint address="" binding="basicHttpBinding" contract="ProductService.IProductService">-->
        <endpoint address="" binding="basicHttpBinding" contract="ProductService.IBookingServices" bindingNamespace="http://localhost:8733/Design_Time_Addresses/Booking/">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>               
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Booking/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ProductService.EscapeRoom_Services">       
        <endpoint address="" binding="basicHttpBinding" contract="ProductService.IEscapeRoom_Services" bindingNamespace="http://localhost:8735/Design_Time_Addresses/Escaperoom/">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Design_Time_Addresses/Escaperoom/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ProductService.EmplyeeServices">
        <endpoint address="" binding="basicHttpBinding" contract="ProductService.IEmplyeeServices" bindingNamespace="http://localhost:8736/Design_Time_Addresses/Employee/">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8736/Design_Time_Addresses/Employee/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ProductService.CustomerServices">
        <endpoint address="" binding="basicHttpBinding" contract="ProductService.ICustomerServices" bindingNamespace="http://localhost:8737/Design_Time_Addresses/Customer/">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8737/Design_Time_Addresses/Customer/" />
          </baseAddresses>
        </host>
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>